 .container{
    width: 100%;
 }
 .search-container {
    width: -webkit-fill-available;
    margin: 0 auto;
    position: relative;

    
  .search-input {
    width:-webkit-fill-available;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;
  
    &:focus {
        outline: none;
        border-color: #007bff;
    }
  }
  
  .search-button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    //transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: filter 0.3s ease;
  
    &:hover {
        filter: brightness(1.2);
    }
  }
  
  }
  
  
  
  .search-field {
    margin-bottom: 20px;
  
    input[type="text"] {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
    }
  }
  
  .card-doc {
    background-color: white;
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
  
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px;
    }
  
    .card-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    .card-info p {
      margin: 0;
  }
  
  .card-info button {
      margin-top: 20px;
      align-self: center;
  }
  }
  
  .card-doctor-continue {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;


    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
  
    img {

        width: 100px;
        height: 100px;
        flex-wrap: wrap;
        border-radius: 50%;
        margin: 20px;
    }
  
    .card-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    .card-info p {
      margin: 0;
  }
  
  .card-info button {
      margin-top: 20px;
      align-self: center;
  }
  }
  
  .card-doctor-continue-active {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #20d471;


    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
  
    img {

        width: 100px;
        height: 100px;
        flex-wrap: wrap;
        border-radius: 50%;
        margin: 20px;
    }
  
    .card-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    .card-info p {
      margin: 0;
  }
  
  .card-info button {
      margin-top: 20px;
      align-self: center;
  }
  }
  
  
  
  