<div class="doctors-container">
  <h2>Список Врачей</h2>
  <ul class="doctors-list">
    <li *ngFor="let doctor of doctors">
      <p><strong>Имя:</strong> {{ doctor.name }}</p>
      <p><strong>Специальность:</strong> {{ doctor.specialty }}</p>
      <div class="btn-box">
        <button (click)="deleteDoctor(doctor.doctor_id.toString())">
          Удалить
        </button>
        <button (click)="openScheduleForm(doctor)">Составить расписание</button>

        <button (click)="openEditForm(doctor)">Редактировать</button>
      </div>
    </li>
  </ul>
</div>
