 .container{
    width: 100%;
    padding: 10px;
 }

 .card-container{
    width: 100%;
    margin: 20px;
    //background-color: #ccc;
   // padding: 10px;
    border-radius: 10px;
   // padding-top: 30px;
   // padding-bottom: 30px;
 }
 .search-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;

    
  .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;
  
    &:focus {
        outline: none;
        border-color: #007bff;
    }
  }
  
  .search-button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    //transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: filter 0.3s ease;
  
    &:hover {
        filter: brightness(1.2);
    }
  }
  
  }
  
  .search-field {
    margin-bottom: 20px;
  
    input[type="text"] {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
    }
  }
  

  
  