@import "src/App.scss";

.overlay {
  background: rgba(0, 128, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.service-active {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #20d471;
  padding: 20px;
  text-align: center;
 // animation: fadeInUp 1s ease-out forwards;
  
}

.container-continue {
  display: flex;
  padding: 20px;
  animation: fadeInUp 1s ease-out forwards;
 // justify-content: space-between;
}

.container-time-and-schedules {
  padding: 10px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.container-time-and-schedules::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


.column-left {
  min-width: 400px;
  flex: 1; 
  padding: 10px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}

.column-center {
  min-width: 400px;
  flex: 1; 
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.column-right {
  flex: 1; 
  padding: 10px;
  //border: 1px solid #ddd;
  //background-color: #f9f9f9;
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
 
}
.clinic-name {
  text-align: center;
  font-size: 2em;
  //color: white;
  margin-top: 20px;
}
.info {
  // color: white;
  // box-shadow: 0px 0px 10px 0px #ccc;
  /* align-items: center; */
  /* align-self: center; */
  /* width: 90%; */
  /* border-radius: 10%; */
  // padding: 10px;
  // background-color: #77bfa3;
  margin: 20px 0;
  //transition: opacity 0.3s ease-in-out;
}

.info-block {
 // opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.info-block:in-viewport {
  opacity: 1;
}
////////////////////////////////////////////////////////
body {
  background-image: url('https://s3-alpha-sig.figma.com/img/86ac/7f40/c492c46b97daff0fef2ba86ec5dea9e6?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A8x6RpPRI3RLMRn0ysTEciiFexoXbE5-gxv4Zoo-8Y0t4HY6dz7RTU4RQd~MiX2qNyQic22qc9TrTWUFikj6lK6i6bNuNKh3q3M5rwwlOUmYFXdLDp63X188trTJ7a48UYHnrmBnWaSwuEN7glXEDW92K0d-cZrmwn3w7gVJA~cyPUlYoQomF5VkUozXCiR~mBWV7EEq6roo3xap680uIPxRqS3h-AIiyKHgJAXnNFxDKpmXaQLyxSYZJ4UWLOPmJhKxF~x2MBZSd~lKrVMtwza71HWZRTgpHYnj-Hgz~C6kz~nc165Vmo11SzhEafMiWwLpDxhrJ8ZjDiwgJqlk5A__');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
/* Navbar style */
.nav-wrapper {
  background-color: $text-color; /* Google Blue color, you can change it */
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Add padding for better spacing */

  .brand-logo {
    font-size: 2rem;
    color: #fff; /* White text color */
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  #nav-mobile {
    li {
      display: inline;
      margin-left: 20px;

      a {
        cursor: pointer;
        color: #fff; /* White text color */
        font-weight: normal;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: #e0e0e0; /* Light gray on hover */
        }
      }

      .disabledLink {
        pointer-events: none;
        cursor: default;
        color: #e0e0e0; /* Light gray on hover */
      }
    }

  }


}




.main-content {
  text-align: center;
  width: 100%; 
  padding: 20px;
}


.auth-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.input-field-BIG input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 20px;
}

.auth-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.landing-container {
  text-align: center;
  padding: 50px;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff; /* Белый фон */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0px 0px 20px 0px #ccc; /* Тень */
  margin: 20px;

  h1 {
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }

  .lka {
    font-size: 1.2rem;
    color: #77bfa3;
    line-height: 1.6;
    cursor: pointer;
  }

  button {
    //background-color: ;
    //color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    //width: 50%;
    box-sizing: border-box;
    //margin-top: 20px;
  }

  button[type="submit"]:hover {
    background-color: $hover-color;
  }
}

.clinic-image {
  width: 100%;

  max-width: 600px;
  border-radius: 10px;
  margin: 20px 0;
  background-image: url("http://klublady.ru/uploads/posts/2022-07/thumbs/1658582446_18-klublady-ru-p-posokh-asklepiya-tatu-eskiz-foto-18.jpg");
  box-shadow: 0px 0px 10px 0px #ccc; /* Тень */
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service {
  background-color: #fff;
  // overflow: hidden;
  // height: max-content;
   max-height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  padding: 20px;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.service::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.service h2 {
  font-size: 1.8rem;
  color: $text-color;
  margin-bottom: 10px;
}

.service p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.footer {
  background-color: $background-color;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #f8f8f8;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}

/* Additional Decoration */
h3 {
  color: $text-color;
  border-bottom: 2px solid $text-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contact-info,
.social-media {
  flex: 1;
  text-align: left;
}

.social-media {
  text-align: right;
}

/* Icon Styles */
.footer-info i {
  margin-right: 5px;
}

.footer-info p {
  margin: 8px 0;
}

/* Decorative Lines */
.decorative-line {
  height: 2px;
  width: 100%;
  background-color: #555; /* Серый цвет линии */
  margin: 10px 0;
}




.search-tabs {
  border-radius: 100px;
  width: 100%; 
  display: flex;
  gap: 10px;
  justify-content: space-around;
  background-color: #77bfa3;
  border: 1px solid #ccc;
 // padding: 10px 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease;

  &:hover {
      color: #333;
  }

  &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #333;
      transition: width 0.3s ease;
  }


}

.active {
  color: #333;
&::after {
    width: 100%;
}

}


/* Box Shadow */
.footer {
  box-shadow: 0px 0px 10px 0px #444; /* Тень */
}
