@import 'src/App.scss';
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other elements */
}
.brand-logo {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.card {
  background: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 39%;
  position: fixed;
  left: 29%;
  top: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* Single column for smaller screens */
}

.card-action {
  text-align: center;
  margin-top: auto;
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  margin-bottom: 60px;
}

.input-field input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-field label {
  color: #888;
  font-size: 16px;
  margin-left: 5px;
  display: block;
}

.btn {
  background-color: $text-color;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: $hover-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn:disabled {
  background-color: grey;
  cursor: default;
  box-shadow: none;
}

.red-text {
  color: red;
}
